* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 102);
    background: url(images/wal6.jpg);
    background-size: cover;
}

.calculator {
    background-color: #ffff;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset -5px -5px 12px #ffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ffff;
    box-shadow: inset -5px -5px 12px #ffff, inset 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 50px;
    color: tomato;
    font-size: 70px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button {
    height: 48px;
    width: 48px;
    background-color: gold;
    box-shadow: -5px -5px 12px gold, 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 50px;
    margin: 8px;
    font-size: 16px;
    font-weight: 900;
}

button:hover {
    height: 48px;
    width: 48px;
    background-color: rgb(0, 213, 255);
    box-shadow: -4px -4px 14px rgb(0, 179, 255), 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 50px;
    margin: 8px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

.equal {
    width: 48px;
    background-color: magenta;
    box-shadow: -5px -5px 12px magenta, 5px 5px 12px rgba(0, 0, 0, .16);
}

.equal:hover {
    width: 48px;
    background-color: saddlebrown;
    box-shadow: -6px -6px 12px saddlebrown, 5px 5px 12px rgba(0, 0, 0, .16);
}